.courseList {
    overflow-y: auto;
    height: 20rem;
    width: 20rem;
}

.courseLabel {
    margin-left: 0.4rem;
}

.courseItem {
    display: flex;
    margin: 0.5rem 0.5rem;
}

#submitBttn {
    border: 0.1rem solid darkgrey;
    height: 1.5rem;
    width: 5rem;
    background-color: #ededed;
    border-radius: 0.25rem;
}

#submitBttn:active {
    background-color: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}